.button {
  transition: transform 0.3s ease;
  touch-action: manipulation;
}

.button button {
  position: relative;
  display: block;
  text-decoration: none;
  border-radius: 40px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 1;
  overflow: hidden;
}

.button button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  transition: 0.5s;
}

/* @media (prefers-color-scheme: light) {
  .button button::before {
    background-color: #fff;
  }
} */

/* @media (prefers-color-scheme: light) {
  .button button::before {
    background-color: #fff;
  }
} */

.button .secondary::before {
  position: absolute;
  right: 0;
  background-color: rgba(128, 128, 128, 0.2);
}

.primary {
  color: var(--bg-color);
  background-color: var(--text-primary);
  border: 1px solid var(--border-border);
}

.secondary {
  border: 1px solid var(--border-border);
  color: var(--text-primary);
  background-color: var(--bg-color);
}

@media (hover: hover) and (pointer: fine) {
  button:hover::before {
    width: 100%;
  }

  .secondary:hover {
    color: var(--text-primary);
  }
}

.primary:active,
.secondary:active {
  transform: scale(0.95);
  transition: transform 0.3s ease;
}
