#home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8%;
  text-align: center;
}

.home-content {
  z-index: 2;
  max-width: 70%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
}

.memoji {
  background-color: lightblue;
  width: 100px;
  height: 100px;
  margin: 0 auto 1rem auto;
  border-radius: 100%;
}

.memoji img {
  object-fit: contain;
  width: 100%;
}

#home .home-content h1 {
  font-size: 4rem;
  margin: 1rem 0;
}

#home .home-content p {
  color: lightblue;
}

.cta {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 0;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border-border);
  text-decoration: none;
  color: var(--secondary-text);
  border-radius: 100%;
  padding: 0.7rem;
}

@media screen and (max-width: 768px) {
  #home {
    padding: 0;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: none;
    position: static;
    top: auto;
    left: auto;
    transform: none;
  }

  #home .home-content {
    flex-basis: 100%;
    z-index: 2;
    padding: 0 1rem;
  }

  #home .home-content h1 {
    font-size: x-large;
  }

  #home .home-content h3 {
    font-size: medium;
  }

  #home .home-content p {
    font-size: small;
  }

  .cta {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    margin: 1.5rem 0 1rem 0;
  }
}

@media screen and (max-width: 1270px) {
  #photo {
    width: 400px;
    height: 400px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .socials a:hover {
    background-color: var(--secondary-text);
    color: #222831;
  }
}
