#navigation {
  position: fixed;
  top: 2rem;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 40px;
  border: 1px solid var(--border-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3%;
  z-index: 99999;
  transition: top 0.3s ease-in;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

.logo {
  font-size: x-large;
  font-weight: 600;
  cursor: pointer;
  color: var(--text-primary);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  font-size: large;
  font-weight: 500;
  color: var(--text-primary);
  margin: 0 1.5rem;
  text-align: center;
  position: relative;
  display: flex;
}

.navbar .span-active {
  width: 100%;
}

.hover-animation {
  position: absolute;
  width: 0;
  height: 0.1rem;
  background-color: var(--text-primary);
  bottom: -5px;
}

.navbar a:hover .hover-animation {
  width: 100%;
  transition: all 0.5s;
}

.mobile-nav {
  display: flex;
}

@media screen and (max-width: 768px) {
  #navigation {
    top: 0;
    width: 100%;
    left: 0;
    transform: translateX(0);
    border-radius: 0;
    border: none;
    padding: 1rem 8%;
  }
  .navbar {
    display: none;
  }
  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .show {
    opacity: 1;
    pointer-events: auto;
  }
  .side-nav {
    width: 300px;
    background: rgb(19, 19, 19);
    padding-top: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    transition: transform 0.5s;
    transform: translateX(-100%);
  }
  .side-nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--text-primary);
    padding: 0 1.5rem 1rem 1.5rem;
  }
  .side-nav nav {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  .side-nav nav a {
    font-size: small;
    font-weight: 500;
    color: var(--text-primary);
    margin-bottom: 1rem;
    color: var(--text-primary);
    padding: 0.5rem 1rem;
    width: 100%;
    text-align: center;
  }
  .open {
    transform: translateX(0);
  }
  .side-nav-logo {
    font-size: medium;
    font-weight: 600;
    cursor: pointer;
    color: var(--text-primary);
  }
  .side-nav-socials {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    margin-top: 1rem;
    /* padding-left: 2rem; */
  }
  .side-nav-socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--text-primary);
    border: none;
    text-decoration: none;
    color: var(--bg-color);
    border-radius: 100%;
    padding: 0.7rem;
  }
}

@media screen and (max-width: 1270px) {
  .logo {
    font-size: large;
  }
  .navbar a {
    font-size: medium;
    margin: 0 1rem;
  }
}

@media (prefers-color-scheme: light) {
  #navigation {
    background: rgba(0, 0, 0, 0.7);
  }
  .logo,
  .navbar a,
  .mobile-nav {
    color: #ededed;
  }
  .hover-animation,
  .side-nav {
    background-color: #ededed;
  }
  .side-nav-header {
    color: var(--text-primary);
  }
}
