@import url("https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap");

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f9f9f9;
    --text-primary: #111111;
    --text-secondary: #0280ce;

    --primary-btn-color: #0c0c0c;
    --border-border: rgba(0, 0, 0, 0.08);
    --error-color: #d12a2a;
    --heading: var(--text-secondary);
    --side-nav-bg-color: #f9f9f9;
    --nav-bg-color: rgba(0, 0, 0, 0.7);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #0c0c0c;
    --text-primary: #ededed;
    --text-secondary: #0280ce;

    --primary-btn-color: #ededed;
    --border-border: rgba(128, 128, 128, 0.187);
    --error-color: #e43636;
    --heading: var(--text-secondary);
    --side-nav-bg-color: rgb(19, 19, 19);
    --nav-bg-color: rgba(0, 0, 0, 0.4);
  }
}

html.dark {
  --bg-color: #0c0c0c;
  --text-primary: #ededed;
  --text-secondary: #0280ce;

  --primary-btn-color: #ededed;
  --border-border: rgba(128, 128, 128, 0.187);
  --error-color: #e43636;
  --heading: var(--text-secondary);
  --side-nav-bg-color: rgb(19, 19, 19);
  --nav-bg-color: rgba(0, 0, 0, 0.4);
}

html.light {
  --bg-color: #f9f9f9;
  --text-primary: #111111;
  --text-secondary: #0280ce;

  --primary-btn-color: #0c0c0c;
  --border-border: rgba(0, 0, 0, 0.08);
  --error-color: #d12a2a;
  --heading: var(--text-secondary);
  --side-nav-bg-color: #f9f9f9;
  --nav-bg-color: rgba(0, 0, 0, 0.7);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--bg-color);
  color: var(--text-primary);
}

a {
  text-decoration: none;
}
